body{
    background-color: #781D42;
}

button {
    margin-right: 10px;
    margin-top: 6px;
    padding: 6px;
    background-color: #A3423C;
    border-radius: 5px;
    border: dashed 3px #DE834D;
    color: #efd396;
    cursor: pointer;
}