.rosa{
    width: 65%;
    height: 35%;
    background-color: #f0f;
    border-top: 3px solid #ff0;
    border-right: 8px solid black;
    border-bottom: 4px dotted black;
    border-left: 3px solid black;
    position: absolute;
    z-index: 3;
}